 <!-- <div class="wrapper"> -->
    <!-- <div class="login_cantainer"> -->
   
   <mat-toolbar color="primary">
          <div class="wrapper">
          <img src="assets/img/aman.png" alt="TATGIC" class="hidden-xs" id="loginLogo" style>
          </div> 
          </mat-toolbar>
   
  <!-- <div class="wrapper">
      <div class="login_cantainer">
  
          <div class="col-md-6 box1_login"> 
              <span class="title_login">  TATA AIG CONNECT</span>  -->
            <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  
  <!-- <div class="container">
      <div class="col-md-6">
            <div class="col-md-6 box2_login">
    <span class="aman">OOOOOOppppp</span>
      </div>
  </div>
</div> -->



      <div class="container">&nbsp;
            <div class="row ">
              <div class="col-md-12">
                <div class="card centered">

                <!-- <span>Premium Calculator</span> -->
      <div class ="card-body">
      <h4>Calculate Premium For</h4><br><br><br>
      <div class="example-button-row">
        <!-- <input type="radio" name="motor" value="motor" id="motorradio"> -->
            <!-- <a href="#" class="fa fa-car"></a> -->
            <label for="motorradio"><i class="fa fa-car"></i></label>
            <p class="ProductTitles">MOTOR</p>

      </div>
      <!-- <div class="container"> -->
        <label for="iparadio"><i class="fa fa-medkit"></i></label>
        <p class="ProductTitles">IPA</p>

      <!-- </div>  -->
      </div>
      </div>
      </div>
      </div>
      </div> 

      <!-- =====================Try============== -->
      <!-- <div class="col-xs-6  col-sm-6 col-md-3 text-center col-md-offset-3">
          <input type="radio" class="premcalcRadio" name="selectproduct" value="Moter" id="moterRadio">
          <label for="moterRadio">
              <i class="fa fa-car"></i>
          </label>
          <p class="ProductTitles">MOTOR</p>
        </div>
        </div>
        </div>
        </div> -->

        