<!-- <mat-toolbar color="primary"> -->

  <!-- <mat-toolbar-row>
    <span>TATA AIG CONNECT</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon"  (click)="openDialog()" >lock</mat-icon>
    <mat-icon class="example-icon">person</mat-icon>
  </mat-toolbar-row> -->
  
<!-- </mat-toolbar>  -->

<!-- <nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">STUDENT ONLINE LIBRARY</a>
</nav> -->

<!-- <div class="logo"></div> -->

<!-- <mat-toolbar color="primary">

    <div class="wrapper">
        <img src="assets/img/aman.png" alt="TATGIC" class="hidden-xs" id="loginLogo" style>
        </div> -->