/* .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  } */

  

/* body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

/* .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  } */

  /* .navbar {background-color: #001a1400;} */

  /* .logo {
    height: 100px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('assets/img/aman.png') no-repeat center center;
} */

/* .navbar {background-color: #001a1400;} */
/* min-height:80px;} */
/* .mat-toolbar{
    background: #0F3E86;
    min-height: 80px;
    font-size: 14px;
    border:0;
}
#loginLogo{
    height: 50px;
    display:block;
    position:absolute;
    top:10px;
    left:30px;
    background:#fff;
    margin-top:5px;
  }
  
  .wrapper{
    float: left;
    width: 100%;
    background: #cccccc14;
    height: 100%;
  }
   */